<div id="wiki-wrapper" class="results">
<div id="head">
  <h1>Home</h1>
  <ul class="actions">
    <li class="minibutton"><a href="/"
       class="action-edit-page">Home</a></li>
  </ul>
  {{>searchbar}}
</div>
<div id="wiki-content">
<div class="wrap {{#has_footer}} has-footer {{/has_footer}} {{#has_sidebar}}  has-rightbar{{/has_sidebar}}">
  <div id="wiki-body" class="gollum-{{format}}-content">
    <div id="template">
      {{{content}}}
    </div>
  </div>
</div>
</div>

<div id="results">
<h2>List of All Current Pages</h2>
{{#has_results}}
  <ul>
    {{#results}}
    <li>
      <a href="/page/{{path}}">{{path}}</a> 
    </li>
    {{/results}}
  </ul>
{{/has_results}}

{{#no_results}}
  <p id="no-results">
    There are no pages in <strong>{{ref}}</strong>.
  </p>
{{/no_results}}

</div>
<div id="footer">
  <ul class="actions">
    <li class="minibutton"><a href="#">Back to Top</a></li>
  </ul>
</div>
</div>

